@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

.navbar {
    background-color: black !important;

    .navbar-brand a {
        font-family: 'Monoton', cursive;
        font-size: 25px;
        color: white;
    }

    .nav-item {
        img {
            background-color: white;
            border-radius: 50%;
            padding: 3px;
            width: 48px;
            height: auto;

        }
    }

    .navbar-collapse {
        display: grid !important;
        text-align: center;
    }

    .kep-login-facebook.metro {
        border-radius: 4px;
    }

    .kep-login-facebook {
        font-family: Helvetica, sans-serif;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: calc(.27548vw + 7.711px) !important;
        text-decoration: none;
        text-transform: uppercase;
        transition: background-color .3s, border-color .3s;
        background-color: #4c69ba;
        border: calc(.06887vw + .67769px) solid #4c69ba;
        padding: 3px !important;
    }

}

.main {
    display: flex;
    height: 100%;

    @media screen and (max-width:500px) {
        display: grid;
    }
}

.body {
    margin-left: 15%;
    margin-right: 15%;

    @media screen and (max-width:500px) {
        margin-left: 3%;
        margin-right: 3%;
    }
}

.menu {
    background-color: #f8f9fa !important;
    padding: 15px;
    height: 100%;
}

.result {
    width: 100%;
    // background-color: black;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);

    h4 {
        font-family: 'Press Start 2P', cursive;
        padding: 2%;
        background-color: white;
        word-spacing: -10px;
    }

    .event {
        margin: 15px;
        margin-bottom: 30px !important;
        // display: -webkit-flex;
        // width: 100%;
        border: 1px solid beige;
        padding: 15px;
        box-shadow: 0em 0em 0.3em 0em beige;

        .main_infos {
            display: flex;
        }

        a {
            margin-left: 66%;
            z-index: 4;
            position: absolute;
            bottom: 1px;
            padding: 9px;
            border-radius: 5px;
            background-color: white;
            border: 1px solid beige;
            font-size: 18px;
            position: relative;
            bottom: -25px;
            right: -285px;
            
            @media screen and (max-width:500px) {
                bottom: -25px;
                right: -70px;
                margin-left: 0;
            }

            @media screen and (max-width:800px) {
                margin-left: 0;
            }
        }
    }

    img {
        height: 140px;
        width: auto;
    }

    #text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .infos {
        // margin-left: 30px;

        h3 {
            font-weight: 600;
        }

        a {
            margin-left: 66%;
            z-index: 4;
            position: absolute;
            bottom: 1px;
            padding: 9px;
            border-radius: 5px;
            background-color: white;
            border: 1px solid beige;
            font-size: 18px;
            position: relative;
            bottom: -25px;
            right: -285px;
        }
    }

}


.main-event {
    display: flex;
    @media screen and (max-width:500px) {
        margin-bottom: 24px;
    }

    img {
        width: 20%;

        // @media screen and (max-width:500px) {
        //     display: none;
        // }

        // @media screen and (max-width:800px) {
        //     display: none;
        // }
    }
}

.infos-event {
    padding: 20px;
    @media screen and (max-width:500px) {
       padding: 0;
    }

    a {
        padding: 9px;
        border-radius: 5px;
        background-color: white;
        border: 1px solid beige;
        font-size: 18px;
        color: black;
    }

    .Date {
        display: flex;
        align-items: center;

        input {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .Lieu {
        display: flex;
    }

    #localisation {
        background-image: url(../localisation.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 34px;
        width: 26px;
    }

    #agenda {
        background-image: url(../agenda.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 26px;
        width: 26px;
    }

}

.main-member {

    margin-top: 15px;
    display: flex;

    #avatar {
        width: 170px;
        height: auto;
        border: 1px solid black;
        border-radius: 50%;
    }
}

.sorties {

    .sortie {
        margin-bottom: 30px;
        display: -webkit-flex;
        display: flex;
        width: 100%;
        border: 1px solid beige;
        padding: 15px;
        box-shadow: 0em 0em 0.3em 0em beige;
    }

    img {
        height: 140px;
        width: auto;
    }

    #text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .infos {
        margin-left: 30px;

        h3 {
            font-weight: 600;
        }

        a {
            margin-left: 66%;
            z-index: 2;
            position: absolute;
            bottom: 1px;
            padding: 9px;
            border-radius: 5px;
            background-color: white;
            border: 1px solid beige;
            font-size: 18px;
        }
    }
}

.main-section {
    display: flex;

    .participants {
        background-color: #f8f9fa !important;
        padding: 15px;
        text-align: center;
        ;
    }

    .users {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .chat {
        padding: 20px;
        width: 100%;

        .newmessage {
            display: flex;
        }
    }


}


.App {

    .newsession {
        background-image: url('../concert.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: bottom;
        padding: 3%;
    }

    .newuser {
        display: grid;
        margin-left: 35%;
        margin-right: 35%;
        padding: 2%;
        box-shadow: 0em 0em 1em 0em beige;
        background-color: white;

        @media screen and (max-width:500px) {
            margin-left: 10%;
            margin-right: 10%;
        }

        @media screen and (max-width:800px) {
            margin-left: 10%;
            margin-right: 10%;
        }

        h4 {
            text-align: center;
            margin-bottom: 35px;
        }

        input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid beige;
            // margin-top: 10px;
            margin-bottom: 15px;

        }

        #submit {

            border: 1px solid black;
            margin-left: 40%;
            margin-right: 40%;
            margin-top: 15px;
            border-radius: 5px;
            box-shadow: 0em 0em 1em 0em beige;
            color: white;
            background-color: black;
        }
    }
}